@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.title {
  color: red;
  width: 100%;
  text-align: center;
}

.space {
  height: 289px;
}

h2 {
  color: rgb(121, 116, 116);
  margin-left: 20px;
}

h3 {
  color: rgb(41, 41, 139);
  margin-left: 20px;
  padding-bottom: 100px;
}

h1,
div {
  width: 100%;
}

body {
  background-color: black;
}